<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA78bqBMittxOZ971hzgRUP5OKeO99TvWI</string>
	<key>GCM_SENDER_ID</key>
	<string>558144762574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marktsai333.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-2a1cb</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-2a1cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558144762574:ios:63be338367ae9f125c169f</string>
</dict>
</plist>